@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");

:root {
  --mobile: 375px;
  --desktop: 1440px;
  --primary-color: hsl(0, 100%, 68%);
  --very-dark-blue: hsl(230, 29%, 20%);
  --dark-grayish-blue: rgb(91, 95, 113);
  --grayish-blue: hsl(231, 7%, 65%);
  --light-grayish-blue: hsl(207, 33%, 95%);
}
*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 1920px;
  display: flex;
  flex-direction: column;

  font-family: "Barlow", sans-serif;
  font-weight: 400;

  font-size: 18px;
  min-height: 100vh;
  background-color: var(--light-grayish-blue);
  overflow-x: hidden;
  padding: 0 2rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
img {
  user-select: text;
  width: 100%;
  display: block;
}

header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 2rem;
  justify-content: space-between;
}
.logo,
.hamburger {
  width: 45%;
  max-width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hamburger {
  background-image: url("../images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.menu {
  visibility: hidden;
  z-index: 22;
  width: 80%;
  top: 0;
  left: 50%;
  background-color: var(--light-grayish-blue);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -100%);
  /* transition: transform 0.3s ease-in-out; */
}
ul {
  list-style: none;
  padding: 0;
  width: 100%;
}
li {
  margin: 1rem 0;
}
a {
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
}
.main > * {
  margin: 2rem 0;
}

.menu__item {
  margin-bottom: 2rem;
  text-align: center;
}
.menu__item a {
  color: var(--very-dark-blue);
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}
.menu__item:nth-last-child(1) a {
  color: var(--grayish-blue);
}
.main__text > * {
  margin: 1rem 0;
}
.show {
  transform: translate(-50%, 40%);
  visibility: visible;
}
.break {
  width: 80%;
  height: 1px;
  background: var(--grayish-blue);
  margin: 2rem auto;
}
.main__markup {
  padding: 0.3rem 0.8rem;
  letter-spacing: 0;
  background-color: var(--very-dark-blue);
  border-radius: 31px;
  font-weight: 700;
  margin: 0 0.5rem 0 0;
  color: var(--light-grayish-blue);
}
.main__heading {
  font-family: "Barlow Condensed", sans-serif;
  line-height: 2rem;
  text-transform: uppercase;
  color: var(--dark-grayish-blue);
  letter-spacing: 6px;
  font-size: 1.5rem;
}

.main__heading--bolded {
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: normal;
  line-height: 1.1;
  color: var(--very-dark-blue);
}
.main__text-content {
  color: var(--very-dark-blue);
}
.buttons-container {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  align-items: center;
}
.buttons-container > p {
  color: var(--grayish-blue);
  letter-spacing: 2px;
}
.btn {
  cursor: pointer;
  font-family: barlow condensed, sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0.8rem 2rem;
  border: 0;
  font-weight: 700;
  background-color: var(--primary-color);
  color: var(--light-grayish-blue);
  border-radius: 0.9rem;
  letter-spacing: 2px;
  transition: background-color 0.3s ease-in-out;
}

@media (min-width: 750px) {
  .main {
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    align-items: center;
  }
  .main__text {
    order: -1;
    width: 30%;
  }
  .main__image {
    width: 70%;
    transform: translateX(40%);
  }
}

@media (min-width: 1440px) {
  header,
  .main {
    width: 90%;
  }
  .main {
    min-height: 80vh;
  }
  header {
    margin-top: 3rem;
  }
  .main__heading--bolded {
    font-size: 3.5rem;
  }

  .main__text > * {
    margin: 2rem 0;
  }
  /* .hamburger {
    visibility: hidden;
  } */
  /* .menu {
    visibility: visible;
    transform: translate(0, 0);
    width: 80%;
    background-color: transparent;
    position: static;
    display: block;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    box-shadow: none;
  } */
  /* ul {
    background-color: transparent;
    display: flex;
    gap: 3rem;
    justify-content: flex-end;
  } */
  .menu__item:not(.menu__item:nth-last-child(1)) a:hover {
    text-decoration: underline;
  }
  .menu__item:nth-last-child(1) {
    margin-left: 4rem;
  }

  .btn:hover {
    background-color: hsla(0, 100%, 68%, 0.7);
  }
  .break {
    display: none;
  }
  .shape {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 50%;
    background-color: rgba(197, 205, 241, 0.1);
    border-radius: 0 0 25px 25px;
    user-select: none;
  }
}
